<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title></title>
    <load href='/Public/js/jquery-2.1.4.js' />
    <load href='/Public/js/myJs.js' />
    <load href='/Public/css/base.css' />
</head>
<body>
<header class="container-fuld clearfix">
    <a  href="javascript:loginOut()" class="loginOutBtn pull-right btn btn-danger btn-sm" style="border-radius: 0px">退出</a>
    <p class="welcome pull-right">当前用户：<span>{$nickname}</span></p>
</header>


<div class="container" style="margin-top: 20px">
    <div class="coin_wrap">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>预约开始时间</th>
                <th>预约结束时间</th>
                <th>兑换开始时间</th>
                <th>兑换结束时间</th>
                <th>央行公告链接</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="coinInfo" item="vo">
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.apply_start}</td>
                    <td>{$vo.apply_end}</td>
                    <td>{$vo.exchange_start}</td>
                    <td>{$vo.exchange_end}</td>
                    <td>{$vo.notice_url}</td>
                </tr>
            </foreach>

            </tbody>
        </table>
    </div>
    <div class="bank_wrap">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>银行编号</th>
                <th>兑换银行</th>
                <th>预约链接</th>
                <th>查询链接</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="bankInfo" item="vo">
                <tr>
                    <td>{$vo.coin_id}</td>
                    <td>{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.apply_url}</td>
                    <td>{$vo.query_url}</td>
                </tr>
            </foreach>

            </tbody>
        </table>
    </div>
    <div class="area_wrap">

        <table class="table table-bordered table-striped">
            <tr>
                <th>银行编号</th>
                <th colspan="8">地区</th>
            </tr>

            <for start="1" end="5">
                <tr>
                    <td>{$i}</td>
                    <foreach name="areaInfo[$i]" item="vo">
                        <td>{$vo.area}</td>
                    </foreach>
                </tr>
            </for>

        </table>
    </div>
</div>


</body>
</html>