<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <load href='__PUBLIC__/js/jquery-2.1.4.js' />
    <title></title>
</head>
<body>
<div class="container">
    <div class="bank_icon">
        <img src="" alt=""/>
    </div>


    <a href="{$select.apply_url}" class="btn btn-info">预约</a>
    <a href="{$select.query_url}" class="btn btn-success">查询</a>
</div>
<p>{$area}</p>
<p>{$select.name}</p>
</body>
</html>